In [ ]:
import sqlite3
db = "moviess.db"
conn = sqlite3.connect(db)

def create_movie_list():
    conn.execute('''CREATE TABLE MOVIES
                 (TITLE TEXT NOT NULL,
                  DIRECTOR TEXT NOT NULL,
                  YEAR INT NOT NULL,
                  RATING REAL NOT NULL,
                  WATCHED BOOL NOT NULL);''')
create_movie_list()

In [29]:
def add_movie():
    title = input("Enter the Movie title:")
    director = input("Enter the movie director:")
    year = int(input("Enter the movie release year: "))
    rating = float(input("Enter the movie rating: "))
    conn.execute("INSERT INTO MOVIES VALUES ('%s','%s',%d,%f,%d)" %(title, director, year, rating, 0));
    conn.commit()

In [30]:
add_movie()

Enter the Movie title: m1
Enter the movie director: d1
Enter the movie release year:  2000
Enter the movie rating:  7

In [28]:
def show_movies():
    with conn:

        cur = conn.cursor()
        cur.execute("SELECT * FROM MOVIES ")
    
        rows = cur.fetchall()
    
        for row in rows:
            seen = 'Yes' if row[4] else 'No'
            print(f"{row[0]} directed by {row[1]} in {row[2]} imdb rating: {row[3]} - watched: {seen}")

In [ ]:
show_movies()

In [8]:
def movie_watched():
    title = input("Enter the Movie title:")
    conn.execute("UPDATE MOVIES SET WATCHED = True WHERE TITLE = '%s'" %(title));

In [16]:
movie_watched()

Enter the Movie title: m1

In [31]:
show_movies()

m1 directed by d1 in 2000 imdb rating: 7.0 - watched: No

In [79]:
find_choice = """
Enter:
t -> title
d -> director
y -> year
r -> rating
q -> come out of searching
your choice: 
"""
def find_movie():
    find_input = input(find_choice)
    while find_input != 'q':
        if find_input == 't':
            title = input("Enter the title: ")
            cur = conn.cursor()
            cur.execute("SELECT * FROM MOVIES WHERE TITLE LIKE '%s'" %(title));
            row = cur.fetchone()
            if row:
                seen = 'Yes' if row[4] else 'No'
                print(f"{row[0]} directed by {row[1]} in {row[2]} imdb rating: {row[3]} - watched: {seen}")
            else:
                print('movie not found!')
        elif find_input == 'd':
            director = input("Enter the director name: ")
            cur = conn.cursor()
            cur.execute("SELECT * FROM MOVIES WHERE DIRECTOR LIKE '%s'" %(director));
            row = cur.fetchone()
            if row:
                seen = 'Yes' if row[4] else 'No'
                print(f"{row[0]} directed by {row[1]} in {row[2]} imdb rating: {row[3]} - watched: {seen}")
            else:
                print('movie not found!')
        elif find_input == 'y':
            year = int(input("Enter the Year: "))
            cur = conn.cursor()
            cur.execute("SELECT * FROM MOVIES WHERE YEAR LIKE %d" %(year));
            row = cur.fetchone()
            if row:
                seen = 'Yes' if row[4] else 'No'
                print(f"{row[0]} directed by {row[1]} in {row[2]} imdb rating: {row[3]} - watched: {seen}")
            else:
                print('movie not found!')        
        elif find_input == 'r':
            rating = float(input("Enter the rating: "))
            cur = conn.cursor()
            cur.execute("SELECT * FROM MOVIES WHERE RATING LIKE %f" %(rating));
            row = cur.fetchone()
            if row:
                seen = 'Yes' if row[4] else 'No'
                print(f"{row[0]} directed by {row[1]} in {row[2]} imdb rating: {row[3]} - watched: {seen}")
            else:
                print('movie not found!')
        find_input = input(find_choice)
find_movie()

Enter:
t -> title
d -> director
y -> year
r -> rating
q -> come out of searching
your choice:
 t
Enter the title:  hjdfas

movie not found!

Enter:
t -> title
d -> director
y -> year
r -> rating
q -> come out of searching
your choice:
 y
Enter the Year:  2000

movie not found!

Enter:
t -> title
d -> director
y -> year
r -> rating
q -> come out of searching
your choice:
 q

In [46]:
update_choice = """
Enter:
t->title
d->director
y->year
r->rating
q-> update done
Your choice: """
def update_movie():
    title = input("Enter the Movie title:")
    update_input = input(update_choice)
    while update_input != 'q':
        if update_input == 't':
            new_title = input("Enter the new title for the movie: ") 
            conn.execute("UPDATE MOVIES SET TITLE = '%s' WHERE TITLE = '%s'" %(new_title, title));
        elif update_input == 'd':
            new_dir = input("Enter the new director for the movie: ") 
            conn.execute("UPDATE MOVIES SET DIRECTOR = '%s' WHERE TITLE = '%s'" %(new_dir, title));
        elif update_input == 'y':
            new_year = int(input("Enter the new year for the movie: ")) 
            conn.execute("UPDATE MOVIES SET YEAR = %d WHERE TITLE = '%s'" %(new_year, title));
        elif update_input == 'r':
            new_rat = float(input("Enter the new rating for the movie: ")) 
            conn.execute("UPDATE MOVIES SET RATING = %f WHERE TITLE = '%s'" %(new_rat, title));
        update_input = input(update_choice)

In [49]:
update_movie()

Enter the Movie title: bahubali

Enter:
t->title
d->director
y->year
r->rating
q-> update done
Your choice:  y
Enter the new year for the movie:  2018

Enter:
t->title
d->director
y->year
r->rating
q-> update done
Your choice:  r
Enter the new rating for the movie:  8

Enter:
t->title
d->director
y->year
r->rating
q-> update done
Your choice:  q

In [83]:
def delete_movie():
    title=input("Enter the Movie title:")
    conn.execute("DELETE FROM MOVIES WHERE TITLE = '%s'" %(title));

In [84]:
delete_movie()

Enter the Movie title: m1

In [87]:
def clear_movies():
    conn.execute('DELETE FROM MOVIES')

In [18]:
clear_movies()

In [50]:
show_movies()

bahubali directed by rajmouli in 2018 imdb rating: 8.0 - watched: No

In [ ]:
user_choice = """"
Enter:
'a': add_movie
'l': show_movies
'w': movie_watched
'c': clear_movies
'f': find_movie
'u': update_movie
'd': delete_mov
'q': quit
Your choice: 
"""
user_options={
    'a': add_movie,
    'l': show_movies,
    'w': movie_watched,
    'f': find_movie,
    'u': update_movie,
    'd': delete_movie,
    'c': clear_movies
    }
def menu():
    selection = input(user_choice)
    while selection != 'q':
        if selection in user_options:
            selected_function = user_options[selection]
            selected_function()
        else:
            print('Unknown command, Please try again!')
        selection = input(user_choice)
        
menu()